# 第一部分

In [1]:
import akshare as ak
get_roll_yield_bar_df = ak.get_roll_yield_bar(type_method="date", var="RB", start_day="20180618", end_day="20180718")

/home/lighthouse/miniconda3/lib/python3.9/site-packages/akshare/futures/futures_roll_yield.py:36: UserWarning: 20180618非交易日
  warnings.warn("%s非交易日" % date.strftime("%Y%m%d"))
/home/lighthouse/miniconda3/lib/python3.9/site-packages/akshare/futures/futures_roll_yield.py:137: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_l = df_l.append(
/home/lighthouse/miniconda3/lib/python3.9/site-packages/akshare/futures/futures_roll_yield.py:137: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_l = df_l.append(
/home/lighthouse/miniconda3/lib/python3.9/site-packages/akshare/futures/futures_roll_yield.py:137: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_l = df_l.append(
/home/lighthouse/miniconda3/lib/python3.9/site-packages/akshare/futures/futures_roll_yield.py:137: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_l = df_l.append(
/home/lighthouse/miniconda3/lib/python3.9/site-packages/akshare/futures/futures_roll_yield.py:36: UserWarning: 20180623非交易日
  warnings.warn("%s非交易日" % date.strftime("%Y%m%d"))
/home/lighthouse/miniconda3/lib/python3.9/site-packages/akshare/futures/futures_roll_yield.py:36: UserWarning: 20180624非交易日
  warnings.warn("%s非交易日" % date.strftime("%Y%m%d"))
/home/lighthouse/miniconda3/lib/python3.9/site-packages/akshare/futures/futures_roll_yield.py:137: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_l = df_l.append(
/home/lighthouse/miniconda3/lib/python3.9/site-packages/akshare/futures/futures_roll_yield.py:137: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_l = df_l.append(
/home/lighthouse/miniconda3/lib/python3.9/site-packages/akshare/futures/futures_roll_yield.py:137: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_l = df_l.append(
/home/lighthouse/miniconda3/lib/python3.9/site-packages/akshare/futures/futures_roll_yield.py:137: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_l = df_l.append(
/home/lighthouse/miniconda3/lib/python3.9/site-packages/akshare/futures/futures_roll_yield.py:137: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_l = df_l.append(
/home/lighthouse/miniconda3/lib/python3.9/site-packages/akshare/futures/futures_roll_yield.py:36: UserWarning: 20180630非交易日
  warnings.warn("%s非交易日" % date.strftime("%Y%m%d"))
/home/lighthouse/miniconda3/lib/python3.9/site-packages/akshare/futures/futures_roll_yield.py:36: UserWarning: 20180701非交易日
  warnings.warn("%s非交易日" % date.strftime("%Y%m%d"))
/home/lighthouse/miniconda3/lib/python3.9/site-packages/akshare/futures/futures_roll_yield.py:137: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_l = df_l.append(
/home/lighthouse/miniconda3/lib/python3.9/site-packages/akshare/futures/futures_roll_yield.py:137: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_l = df_l.append(
/home/lighthouse/miniconda3/lib/python3.9/site-packages/akshare/futures/futures_roll_yield.py:137: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_l = df_l.append(
/home/lighthouse/miniconda3/lib/python3.9/site-packages/akshare/futures/futures_roll_yield.py:137: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_l = df_l.append(
/home/lighthouse/miniconda3/lib/python3.9/site-packages/akshare/futures/futures_roll_yield.py:137: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_l = df_l.append(
/home/lighthouse/miniconda3/lib/python3.9/site-packages/akshare/futures/futures_roll_yield.py:36: UserWarning: 20180707非交易日
  warnings.warn("%s非交易日" % date.strftime("%Y%m%d"))
/home/lighthouse/miniconda3/lib/python3.9/site-packages/akshare/futures/futures_roll_yield.py:36: UserWarning: 20180708非交易日
  warnings.warn("%s非交易日" % date.strftime("%Y%m%d"))
/home/lighthouse/miniconda3/lib/python3.9/site-packages/akshare/futures/futures_roll_yield.py:137: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_l = df_l.append(
/home/lighthouse/miniconda3/lib/python3.9/site-packages/akshare/futures/futures_roll_yield.py:137: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_l = df_l.append(
/home/lighthouse/miniconda3/lib/python3.9/site-packages/akshare/futures/futures_roll_yield.py:137: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_l = df_l.append(
/home/lighthouse/miniconda3/lib/python3.9/site-packages/akshare/futures/futures_roll_yield.py:137: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_l = df_l.append(
/home/lighthouse/miniconda3/lib/python3.9/site-packages/akshare/futures/futures_roll_yield.py:137: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_l = df_l.append(
/home/lighthouse/miniconda3/lib/python3.9/site-packages/akshare/futures/futures_roll_yield.py:36: UserWarning: 20180714非交易日
  warnings.warn("%s非交易日" % date.strftime("%Y%m%d"))
/home/lighthouse/miniconda3/lib/python3.9/site-packages/akshare/futures/futures_roll_yield.py:36: UserWarning: 20180715非交易日
  warnings.warn("%s非交易日" % date.strftime("%Y%m%d"))
/home/lighthouse/miniconda3/lib/python3.9/site-packages/akshare/futures/futures_roll_yield.py:137: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_l = df_l.append(
/home/lighthouse/miniconda3/lib/python3.9/site-packages/akshare/futures/futures_roll_yield.py:137: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_l = df_l.append(
/home/lighthouse/miniconda3/lib/python3.9/site-packages/akshare/futures/futures_roll_yield.py:137: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_l = df_l.append(

In [24]:
values = get_roll_yield_bar_df['roll_yield'].values

In [25]:
import talib as tb

In [29]:
ma5 = tb.MA(values,timeperiod=5)
ma10 = tb.MA(values,timeperiod=10)

In [30]:
print(ma5,ma10)

[       nan        nan        nan        nan 0.19043926 0.19304429
 0.19735322 0.20303259 0.20608263 0.21207677 0.21705356 0.21889076
 0.22598793 0.23706138 0.24275621 0.24208304 0.23964406 0.23276767
 0.21457228 0.20752882 0.20831604 0.21129022] [       nan        nan        nan        nan        nan        nan
        nan        nan        nan 0.20125801 0.20504893 0.20812199
 0.21451026 0.221572   0.22741649 0.2295683  0.22926741 0.2293778
 0.22581683 0.22514251 0.22519954 0.22546714]

In [1]:
import numpy as np

import pandas as pd

In [2]:
df = pd.DataFrame({"id":[1,2,3,4,5,6],
"date":pd.date_range('20130102', periods=6),
"city":['Beijing ', 'SH', ' guangzhou ', 'Shenzhen', 'shanghai', 'BEIJING '],
"age":[23,44,54,32,34,32],
"category":['100-A','100-B','110-A','110-C','210-A','130-F'],
"price":[1200,np.nan,2133,5433,np.nan,4432]},
columns =['id','date','city','category','age','price'])

In [3]:
df

   id       date         city category  age   price
0   1 2013-01-02     Beijing     100-A   23  1200.0
1   2 2013-01-03           SH    100-B   44     NaN
2   3 2013-01-04   guangzhou     110-A   54  2133.0
3   4 2013-01-05     Shenzhen    110-C   32  5433.0
4   5 2013-01-06     shanghai    210-A   34     NaN
5   6 2013-01-07     BEIJING     130-F   32  4432.0

In [7]:
df.iloc[3]

id                            4
date        2013-01-05 00:00:00
city                   Shenzhen
category                  110-C
age                          32
price                    5433.0
Name: 3, dtype: object

In [10]:
pd.DataFrame(df['category'].str[:3])

  category
0      100
1      100
2      110
3      110
4      210
5      130

In [14]:
df.loc[(df['city'] != 'beijing'), ['id','city','age','category']].sort(['id'])

AttributeError: 'DataFrame' object has no attribute 'sort'

In [15]:
df.query('city == ["beijing", "shanghai"]')

   id       date      city category  age  price
4   5 2013-01-06  shanghai    210-A   34    NaN